body {
	background-color: black;
	font-family: "trade winds", "helvetica", sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 50px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
	border-top: solid 5px red;
	border-bottom: solid 5px red;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url("../images/ryu-ready-position.gif");
}

.ryu-still {
	background-image: url("../images/ryu-standing-still.png");
}

.ryu-throwing {
	background-image: url("../images/ryu-throwing-hadouken.png");
}

.ryu-cool {
	background-image: url("../images/ryu-cool.gif");
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: relative;
	top: 170px;
	left: 450px;
	z-index: 10;
}

.text-click {
	width: 200px;
	height: 30rem;
	margin-top: 5rem;
	display: block;
	float: left;
}

.text-xkey {
	width: 200px;
	height: 15rem;
	margin-top: 15rem;
	display: block;
	float: left;
}